@model List<FribergRentalCars.Models.Booking>

@{
    ViewData["Title"] = "AllAccountBookings";
}

<h4>Alla bokningar för kontot</h4>

<p>
    <a href="@Url.Action("EditAccount", new { userId = @ViewBag.UserID })">Redigera Konto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Boknings-Id</p>
            </th>
            <th>
                <p>Bil</p>
            </th>
            <th>
                <p>Bil-Id</p>
            </th>
            <th>
                <p>
                    Modell (år)
                </p>
            </th>
            <th>
                <p>Hyrd</p>
                <p>Från</p>
            </th>
            <th>
                <p>Till</p>
            </th>
            <th>
                <p>Total kostnad</p>
            </th>
            <th>
                <p>Status</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingId)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Car.Image))
                    {
                        <div>
                            <img src="@item.Car.Image" alt="bild på bil" class="img-fluid" width="80" height="80" />
                        </div>
                    }
                    else
                    {
                        <p>Bild saknas</p>
                    }
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Car.CarId)
                </th>
                @* // IF BOOKING IS FINISHED display text in grey color*@
                @*if (item.EndDate < DateOnly.FromDateTime(DateTime.Now))*@
                @if(item.IsFinished)
                {
                    <td>
                        <span style="color: dimgrey">@item.Car.Model (@item.Car.ModelYear)</span>
                    </td>
                    
                    <td>
                        <span style="color: dimgrey">@item.StartDate</span>
                    </td>
                    <td>
                        <span style="color: dimgrey">@item.EndDate</span>
                    </td>
                    <td>
                        <span style="color: dimgrey">@item.TotalCost kr </span>
                    </td>
                    <td>
                        <span style="color: dimgrey">Avslutad</span>
                    </td>
                }
                @*// IF BOOKING IS NOT FINISHED display text in black color*@
                else
                {
                    <td>
                        <span>@item.Car.Model (@item.Car.ModelYear)</span>
                    </td>
                                      
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)kr
                    </td>

                    <td>
                       <form asp-action="CancelBooking" asp-controller="Admin" asp-route-id="@item.BookingId">
                            <span>
                                Pågående |
                                <input type="submit" value="Avboka" class="btn btn-danger" />
                            </span>
                        </form>
                    </td>
                }

                <td class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.Car)
                </td>
            </tr>
        }
    </tbody>
</table>
