@model FribergRentalCars.ViewModels.AdminViewModels.DeleteUserViewModel
@{
    ViewData["Title"] = "DeleteAccount";
}

<hr />
<div class="col-sm-10">
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-transparent">
            <h5 class="primary-text-color">Är du säker på att du vill radera användare:</h5>
        </li>
        <li class="list-group-item bg-transparent">
            <h5 class="third-text-color"> @Model.User.UserName?</h5>
        </li>
    </ul>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item bg-transparent">
            <h6 class="primary-text-color">Konto för</h6>
        </li>
        <li class="list-group-item bg-transparent">
            <h6 class="third-text-color">@Model.Account.FirstName @Model.Account.LastName</h6>
        </li>
        <li class="list-group-item bg-transparent">
            <h6 class="primary-text-color">kommer också raderas.</h6>
        </li>
    </ul>
</div>
<hr />

<div>
    <dl class="row primary-text-color">

        @* Användar uppgifter *@
        <dt class="col-sm-2">Användar ID:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.User.UserId) </dd>

        <dt class="col-sm-2">Användarnamn:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.User.UserName) </dd>

        <dt class="col-sm-2">Administratör?:</dt>
        <dd class="col-sm-10 third-text-color">
            @if(Model.User.IsAdmin)
            {
                <p class="third-text-color">Ja</p>
            }
            else
            {
                <p class="third-text-color">Nej</p>
            }
        </dd>
        <hr />
        @* Konto uppgifter *@
        <dt class="col-sm-2">Konto ID:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.AccountId)</dd>

        <dt class="col-sm-2">Förnamn:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.FirstName)</dd>

        <dt class="col-sm-2">Efternamn:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.LastName)</dd>

        <dt class="col-sm-2">Telefon:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.PhoneNumber)</dd>

        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.Email)</dd>

        <hr />
        @* Adress uppgifter *@
        <dt class="col-sm-2">Adress ID:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.AdressId)</dd>

        <dt class="col-sm-2">Gatunamn:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.Adress.Street)</dd>

        <dt class="col-sm-2">Postnummer:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.Adress.PostalCode)</dd>

        <dt class="col-sm-2">Stad/ Ort:</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Account.Adress.City)</dd>
    </dl>
</div>

   
<div>    
    <form asp-action="DeleteConfirm">
        <input type="hidden" asp-for="User.UserId" />
        <input type="submit" value="Radera" class="btn btn-danger" />
    </form>
    <a asp-action="ListAllAccounts">Tillbaka till kontolista</a>
</div>
