@model FribergRentalCars.Models.Account

@{
    ViewData["Title"] = "Details";
    var user = Context.Session.GetString("user");
}

<div>
    <span>
        <h4>Konto: @user</h4>
        <h5>Inloggad som Administratör</h5>
    </span>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class="visually-hidden">
            @Html.DisplayFor(model => model.Adress.AdressId)
        </dd >
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress.Street),
            @Html.DisplayFor(model => model.Adress.PostalCode),
            @Html.DisplayFor(model => model.Adress.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ListAllAccounts">Se alla konton</a> |
    <a asp-action="Edit" asp-route-id="@Model?.AccountId">Edit</a> |
    <a asp-action="Index" asp-controller="Home">Till Hemsidan</a>
</div>
