@*model IEnumerable<FribergRentalCars.Models.Account>*@

@model List<FribergRentalCars.ViewModels.AdminViewModels.ListAllAccountsViewModel>

@{
    ViewData["Title"] = "ListAllAccounts";
}

<div>
    <h4 class="primary-text-color">Registrerade konton</h4>
</div>

<table class="table">
    <thead class="table primary-text-color">
        <tr>
            <th scope="col">Användar Id</th>
            <th scope="col">Konto Id</th>
            <th scope="col">Användarnamn</th>
            <th scope="col">Förnamn</th>
            <th scope="col">Efternamn</th>

            <th class="visually-hidden">Adress Id </th>

            <th class="visually-hidden">Adress</th>

            <th scope="col">Tel.nr</th>
            <th scope="col">Email</th>
            <th scope="col">Åtgärd</th>
        </tr> 
    </thead>

    <tbody class="third-text-color">
        @foreach (var item in Model) {
            <tr>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                <td class="col">
                    @Html.DisplayFor(modelItem => item.Account.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.LastName)
                </td>
                <td class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.Account.Adress.AdressId)
                </td>
                <td class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.Account.Adress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account.Email)
                </td>
                <td>
                    @{
                        Context.Session.SetString("tempUserName", item.User.UserName);
                        Context.Session.SetInt32("tempAccountID", item.Account.AccountId);
                        Context.Session.SetInt32("tempUserID", item.User.UserId);
                        <a href=@Url.Action("EditAccount", new { id = item.User.UserId}) class="btn btn-primary border-0">Redigera</a>
                    }
                    
                    <a href=@Url.Action("DeleteAccount", new { id = item.User.UserId }) class="btn btn-danger">Ta bort</a> 
                </td>
            </tr>
}
    </tbody>
</table>
