@model FribergRentalCars.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <a>Modell</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            <a>Årtal</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt class = "col-sm-2">
            <a></a>
        </dt>
        <dd class = "col-sm-10">
            @*
            @Html.DisplayFor(model => model.Image)
            *@
            <td>
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <div>
                        <img src="@Model.Image" alt="bild på bil" class="img-fluid"/>
                    </div>
                }
                else
                {
                    <p>No image available</p>
                }
            </td>
        </dd>
        <dt class = "col-sm-2">
            <a>Pris/ dag</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
        <dt class = "col-sm-2">
            <a>Beskrivning</a>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            <a>Boka</a>
        </dt>
        <dd class = "col-sm-10">
            @*@Html.DisplayFor(model => model.IsAvailable)*@
            @if(Model.IsAvailable)
            {
                <form asp-controller="Booking" asp-action="Create" asp-route-data=@Model.CarId>
                    <input type="submit" value="Boka" class="btn btn-primary" />
                </form>
                
            }
            else
            {
                <a>För närvarande uthyrd</a>
            }
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a> |*@
    <a asp-action="Index">Tillbaka</a>
</div>
