@model FribergRentalCars.Models.Car

@{
    ViewData["Title"] = "Details";
}

<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item  bg-transparent">
            <h4 class="primary-text-color">Uppgifter för: </h4>
        </li>
        <li class="list-group-item  bg-transparent">
            <h4 class="third-text-color"> @Model.Model</h4>
        </li>
    </ul>
</div>
<div>
    <a href=@Url.Action("ListAll", "Car") class="btn btn-primary border-0">Till våra bilar</a>
</div>
<hr />

<div>
    <dl class="row">
        <dd class="visually-hidden"> @Html.DisplayFor(model => model.CarId)</dd>
        
        <dt class = "col-sm-2 primary-text-color">Modell</dt>
        <dd class="col-sm-10 third-text-color"> @Html.DisplayFor(model => model.Model) </dd>
        
        <dt class="col-sm-2 primary-text-color">Årsmodell</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.ModelYear)</dd>
        
        <dt class="col-sm-2 primary-text-color">Reg.Nr</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.RegNumber)</dd>
        
        <dt class="col-sm-2 primary-text-color">Bild</dt>
        <dd class="col-sm-10 third-text-color">
            <td>
                @if (!string.IsNullOrEmpty(Model.Image))
                {
                    <div>
                        <img src="@Model.Image" alt="bild på bil" class="img-fluid"/>
                    </div>
                }
                else
                {
                    <p>Bild saknas</p>
                }
            </td>
        </dd>
        
        <dt class="col-sm-2 primary-text-color">Pris/ dygn</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.PricePerDay)</dd>
        
        <dt class="col-sm-2 primary-text-color">Beskrivning</dt>
        <dd class="col-sm-10 third-text-color">@Html.DisplayFor(model => model.Description)</dd>
        
        <dt class="col-sm-2 primary-text-color">Boka denna bil?</dt>
        <dd class="col-sm-10 third-text-color">
            @if(Model.IsAvailable)
            {
                if (!string.IsNullOrEmpty(Context.Session.GetString("user")))
                {
                    <button onclick="window.location='@Url.Action("Create", "Booking", new { id = Model.CarId })'" class="btn btn-primary border-0">Boka</button>
                }
                else
                {
                    <span>
                        Du måste vara inloggad för att kunna boka en bil.
                        <form asp-controller="Account" asp-action="LoginRegister">
                            <input type="submit" value="Registrera/ Logga in" class="btn btn-primary border-0" />
                        </form>
                    </span>
                }
            }
            else
            {
                <label>För närvarande otillgänglig</label>
            }
        </dd>
    </dl>
</div>
