@model IEnumerable<FribergRentalCars.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h1>Våra Bilar</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="GetAvailable">Available Cars</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.CarId)
            </th>
            <th>
                <a>Modell</a>
            </th>
            <th>
                <a>Årtal</a>
            </th>
            <th>
                <a></a>
            </th>
            <th>
                <a>Pris/ dag</a>
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.Label("Boka")
            </th>
            <th>
                @Html.Label("Se bil")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.CarId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYear)
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.Image) *@
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <div>
                            <img src="@item.Image" alt="bild på bil" class="img-fluid" width="150" height="150"/>
                        </div>
                    }
                    else
                    {
                        <p>Bild saknas</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerDay)
                </td>
                <td class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="visually-hidden">
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @if(item.IsAvailable)
                    {
                        @if (!string.IsNullOrEmpty(Context.Session.GetString("user")))
                        {
                            <form asp-controller="Booking" asp-action="Create">
                                @{
                                    Context.Session.SetInt32("carID", item.CarId);
                                }

                                <input type="submit" value="Boka" class="btn btn-primary" />
                            </form>
                        }
                        else
                        {
                            <form asp-controller="Account" asp-action="Register">
                                <input type="submit" value="Boka" class="btn btn-primary" />
                            </form>
                        }
                    }
                    else
                    {
                        <a>Ej bokningsbar</a>
                    }
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.CarId">Beskrivning</a>
                @*<a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
