@model IEnumerable<FribergRentalCars.Models.Car>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-white">Våra Bilar 
    <a href=@Url.Action("GetAvailable", "Car") class="btn btn-primary border-0">Visa endast tillgängliga</a>
</h3>

<div class="row row-cols-3 row-cols-md-2 g-4 gap-3">
    @foreach(var item in Model)
    {
        <div class="card fourth-color border-light mb-3 rounded-2" style="width: 18rem;">
            <div class="card-header card-title text-center primary-color"><strong>@Html.DisplayFor(modelItem => item.Model)</strong></div>
            @if (!string.IsNullOrEmpty(item.Image))
            {
                <img src="@item.Image" alt="bild på bil" class="card-img-top rounded mx-auto d-block" />
            }
            else
            {
                <p class="text-white">Bild saknas</p>
            }
            <div class="card-body  text-white" style="font-size: 14px">
                <p><strong>Årsmodell:</strong> @Html.DisplayFor(modelItem => item.ModelYear)</p>
                <p><strong>Reg.Nr:</strong>  @Html.DisplayFor(modelItem => item.RegNumber)</p>
                <p><strong>Pris/dag:</strong> @Html.DisplayFor(modelItem => item.PricePerDay)kr</p>
            </div>
            <div class="card-body">
                @if(item.IsAvailable)
                {
                    @if (!string.IsNullOrEmpty(Context.Session.GetString("user")))
                    {
                        <a href=@Url.Action("Create", "Booking", new { id = item.CarId}) class="card-link btn btn-primary border-0">Boka</a>
                    }
                    else
                    {
                        <a href=@Url.Action("LoginRegister", "Account") class="card-link btn btn-primary border-0">Boka</a>
                    }
                    <a href=@Url.Action("Details", "Car", new { id = item.CarId}) class="card-link btn btn-primary border-0">Detaljer</a>
                }
                else
                {
                    <p class="text-center"><strong>Ej bokningsbar</strong></p>
                }
                <p class="visually-hidden">@Html.DisplayFor(modelItem => item.CarId)</p>
                <p class="visually-hidden">@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="visually-hidden"> @Html.DisplayFor(modelItem => item.IsAvailable)</p>
            </div>
        </div>
    }
</div>

