@model IEnumerable<FribergRentalCars.Models.Booking>

@{
    ViewData["Title"] = "ActiveAccountBookings";
}

<h4 class="primary-text-color">Mina bokningar (aktuella)</h4>

<p>
    <a asp-action="Details" asp-controller="Account" class="btn btn-primary border-0">Tillbaka</a>
    <a href=@Url.Action("FinishedAccountBookings", "Booking", new {id = ViewBag.AccountID}) class="btn btn-primary border-0">Historiska bokningar</a>
</p>
<table class="table">
    <thead class="primary-text-color">
        <tr>
            <th class="visually-hidden">BookingId</th>

            <th scope="col">Bil</th>
            <th scope="col">Modell (år)</th>
            <th scope="col">Reg.Nr</th>
            <th scope="col">Pris/ dygn</th>
            <th scope="col">Hyrd Från</th>
            <th scope="col">Hyrd Till</th>
            <th scope="col">Total Kostnad</th>
            <th scope="col">Status</th>
            <th scope="col">Åtgärd</th>
            
            <th class="visually-hidden">@Html.DisplayNameFor(model => model.Car)</th>
            <th class="visually-hidden">@Html.DisplayNameFor(model => model.Car.CarId)</th>
        </tr>
    </thead>
    <tbody class="third-text-color">
        @foreach (var item in Model) {
            @if (!item.IsFinished) 
            {
                <tr>
                    <td class="visually-hidden">@Html.DisplayFor(modelItem => item.BookingId)</td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.Car.Image))
                        {
                            <div>
                                <img src="@item.Car.Image" alt="bild på bil" class="img-fluid" width="80" height="80" />
                            </div>
                        }
                        else
                        {
                            <p class="primary-text-color">Bild saknas</p>
                        }
                    </td>

                    <td>
                        <span>@item.Car.Model (@item.Car.ModelYear)</span>
                    </td>
                    <td>
                        <span>@item.Car.RegNumber</span>
                    </td>
                    <td>
                        <span>@item.Car.PricePerDay kr</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalCost)kr
                    </td>

                    <td>Pågående</td>
                    <td>
                        <form asp-action="Cancel" asp-route-id="@item.BookingId">
                            <input type="submit" value="Avboka" class="btn btn-danger" />
                        </form>
                    </td>

                    <td class="visually-hidden">@Html.DisplayFor(modelItem => item.Car)</td>
                    <td class="visually-hidden">@Html.DisplayFor(modelItem => item.Car.CarId)</td>
                </tr>
            }
            @* // Error handling in case item has just turned finished. If so, show nothing*@
            else
            {
                <tr></tr>
            }
            
}
    </tbody>
</table>