@model FribergRentalCars.Models.Booking

@{
    ViewData["Title"] = "Confirmation";
}

@{
    var successMessage = TempData["SuccessMessage"] as string;
    var errorMessage = TempData["ErrorMessage"] as string;
}

<div>
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item  bg-transparent">
            <h4 class="primary-text-color">Bokningsbekräftelse för: </h4>
        </li>
        <li class="list-group-item  bg-transparent">
            <h4 class="third-text-color"> @ViewBag.UserName</h4>
        </li>
    </ul>
</div>
<hr />

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success col-md-4">
        @successMessage
    </div>
}

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger col-md-4">
        @errorMessage
    </div>
}

<table class="table">
    <thead class="primary-text-color">
        <tr>
            <th scope="col">Bild</th>
            <th scope="col">Bilmodell</th>
            <th scope="col">År</th>
            <th scope="col">Reg.Nr</th>
            <th scope="col">Pris/ dygn</th>
            <th scope="col">Från datum</th>
            <th scope="col">Till datum</th>
            
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.BookingId)
                @Html.DisplayNameFor(model => model.CarId)
                @Html.DisplayNameFor(model => model.AccountId)
                @Html.DisplayNameFor(model => model.Car)
            </th>
            
            <th scope="col">Total kostnad</th>
        </tr>
    </thead>
    <tbody class="third-text-color">
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(Model.Car.Image))
                {
                    <div>
                        <img src="@Model.Car.Image" alt="bild på bil" class="img-fluid" width="150" height="150" />
                    </div>
                }
                else
                {
                    <p>Bild saknas</p>
                }
            </td>
            <td>
                @Html.DisplayFor(model => model.Car.Model)
            </td>
            <td>
                @Html.DisplayFor(model => model.Car.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(model => model.Car.RegNumber)
            </td>
            <td>
                @Html.DisplayFor(model => model.Car.PricePerDay)kr
            </td>
            
            <td>
                @Html.DisplayFor(model => model.StartDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.EndDate)
            </td>
            <td class="visually-hidden">
                @Html.DisplayFor(model => model.CarId)
            </td>
            <td>
                @Html.DisplayFor(model => model.TotalCost)kr
            </td>
        </tr>

    </tbody>
</table>
<div>
    <a href=@Url.Action("Details", "Account", new { id = Model.AccountId}) class="btn btn-primary border-0">Mina Sidor</a>
    <a href=@Url.Action("ActiveAccountBookings", "Booking", new { id = Model.AccountId}) class="btn btn-primary border-0">Mina Bokningar</a>
</div>
