@model IEnumerable<FribergRentalCars.Models.Booking>

@{
    ViewData["Title"] = "ListAccountBookings";
}

<h1>Mina bokningar</h1>

<p>
    <a asp-action="Details" asp-controller="Account">Tillbaka</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Bil</p>
            </th>
            <th>
                <p>
                    Modell (år)
                </p>
            </th>
            <th class="visually-hidden">
                <p>Reg.Nr</p>
            </th>
            <th>
                <p>Pris/dag</p>
            </th>
            <th>
                <p>Hyrd</p>
                <p>Från</p>
            </th>
            <th>
                <p>Till</p>
            </th>
            <th>
                <p>Total kostnad</p>
            </th>
            <th class="visually-hidden">
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @if(!string.IsNullOrEmpty(item.Car.Image))
                    {
                        <div>
                            <img src="@item.Car.Image" alt="bild på bil" class="img-fluid" width="80" height="80"/>
                        </div>
                    }
                    else
                    {
                        <p>Bild saknas</p>
                    }
            </td>
                <td>
                    <p>@item.Car.Model (@item.Car.ModelYear)</p>
                </td>
                <td class="visually-hidden">
                   @* <p>@item.Car.RegNumber</p>*@
                </td>
                <td>
                    <p>@item.Car.PricePerDay kr</p>
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)kr
            </td>
            <td class="visually-hidden">
                @Html.DisplayFor(modelItem => item.Car.CarId)
            </td>
            <td>
                <a asp-action="Cancel" asp-route-id="@item.BookingId">Avboka (att göra)</a>
            </td>
        </tr>
}
    </tbody>
</table>
